<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>


<!-- what, how does this work? -->
<!-- why is _comments.html.erb not in app/views/application? -->
<!-- why is it not render "comment" -->
<!-- render method iterates over @article.comments collection and assigns each comment to a local variable named the same as the partial -->
<h2>Comments</h2>
<%= render @article.comments %>

<!-- refactored so following two comments do not make sense, need to refer to Railsguide -->
<!-- pass array to build nested route -->
<!-- /articles/1/comments -->
<h2>Add a comment:</h2>
  <!-- where is the best place to put this? -->
  <%= render 'application/form' %>


<%= link_to 'edit', edit_article_path(@article) %>
<%= link_to 'back', articles_path %>
